---
import { siteConfig } from "../config";
---

<section id="about" class="section-shell" aria-labelledby="about-heading">
  <div class="section-grid gap-y-8">
    <div class="col-span-12 lg:col-span-4">
      <p class="section-kicker">About</p>
      <h2 id="about-heading" class="section-heading">
        {siteConfig.about.heading}
      </h2>
    </div>
    <div class="col-span-12 lg:col-span-8">
      <div class="panel space-y-8">
        <p class="text-lg leading-8 text-[var(--color-soft)] md:text-xl">
          {siteConfig.about.body}
        </p>
        <div class="flex flex-wrap gap-3" role="list" aria-label="Key credentials">
          {siteConfig.about.credentials.map((item) => (
            <span role="listitem" class="tag">
              {item}
            </span>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
